* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
    background-color: #e8e5e5;
    padding-top: 16px;
    color: #050000;
    padding-bottom: 16px;
}

header img {
    max-width: 80px;
}

.teste {
    display: flex;
}

.container {
    display: flex;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header > .container {
    align-items: center;
    justify-content: space-between;
}

nav li {
    list-style: none; /* remove bullet points do li*/
    display: inline;
    margin-right: 16px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase; /*letras maiusculas*/
}

nav li a {
    color: #050000;
    text-decoration: none; /*remove decoration do texto da tag a*/
}

.container-flex {
    display: flex;
}

#sobre-a-loja img {
    max-width: 400px;
    object-fit: contain;
    margin-right: 24px;
}

section {
    padding: 48px 0;
}

section h2 {
    margin-bottom: 8px;
    font-style: italic;
}

hr {
    margin-bottom: 24px;
}

.lista-produtos {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(4, 24.25%);
    column-gap: 1%;
    row-gap: 5%;
}

.lista-produtos li {
    list-style: none; /*remover os bullets*/
    margin-bottom: 24px;
    margin: 0 8px;
}

.lista-produtos li img {
    max-width: 100%;
    max-width: 200px;
    max-height: 200px;
}

.lista-produtos li h3 {
    margin: 16px 0;
}

button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: #119759;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
}

.container-produtos {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

.price {
    margin: 16px 0;
    display: block;
}

.price del {
    color: #ccc;
    font-size: 14px;
}


@media screen and (max-width: 640px) {
    
    header {
        padding-top: 8px;
        padding-bottom: 8px;
        max-width: 640px;
        margin-bottom: 16px;
    }

    header div.container {
        display: flex;
        justify-content: space-around;
    }

    header div.teste {
        display: block;
        text-align: center;
    }

    header img {
        max-width: 80px;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    h1 {
        margin-bottom: 8px;
    }

    section div.container-flex {
        max-width: 70%;
    }

    #sobre-a-loja {
        text-align: center;
    }

    .container {
        display: block;
    }

    nav li {
        display: block;
        margin-bottom: 8px;
    }

    nav li a {
        display: block;
    }

    #sobre-a-loja img {
        margin-right: 0;
    }

    section {
        padding: 8px 0;
    }

    h2 {
        text-align: center;
        margin-top: 32px;
    }

    .lista-produtos {
        display: block;
        justify-content: inherit;
        align-items: inherit;
        grid-template-columns: none;
        column-gap: 0;
        row-gap: 0;
    }

    .lista-produtos li {
        margin-bottom: 0;
        text-align: center;
    }

    button {
        width: 200px;
        margin: auto;
    }

}

@media screen and (min-width: 641px) and (max-width: 1023px) {
    .container {
        max-width: 90%;
    }

    header div.container {
        display: inline;
        font-size: 14px;
    }

    header div.container-flex {
        display: flex;
    }

    section div.container-flex {
        align-content: center;
    }

    h2 {
        text-align: center;
        font-size: 38px;
    }

    .lista-produtos {
        grid-template-columns: repeat(2, 49%);
        text-align: center;
    }

    button {
        width: 300px;
        margin: auto;
    }

}